<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger text-center position-absolute top-0 mt-3" role="alert">
                {{ messages[0] }}
            </div> 
        {% endif %} 
    {% endwith %} 


    <div class="text-center">
        <a href="/cadastrados" id="cadastrados" class="btn btn-primary m-2">Cadastrados</a>
        <a href="/formulario" class="btn btn-secondary m-2">Formulário</a>
    </div>

</body>
</html>
